.navbar {
  height: 70px;
  padding: 0 40px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: #0d0d12;
}

.navbar-logo {
  color: white;
  font-size: 25px;
  font-weight: bold;
}

.navbar-links {
  display: flex;
  gap: 30px;
  font-size: 16px;
  font-weight: bold;
}

.navbar-links a {
  color: #999;
  text-decoration: none;
}

.navbar-links .upgrade {
  color: #e8c21b;
}

.navbar-links a:hover {
  color: white;
}

.navbar-links-social-networks {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar-links-social-networks a {
  width: 36px;
  height: 36px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #202027;
  border-radius: 50%;
}

.navbar-links-social-networks img {
  width: 18px;
  height: 18px;

  object-fit: contain;
}

.navbar-login {
  padding: 10px 18px;

  border: none;
  border-radius: 6px;

  background-color: #1b73e8;
  color: white;

  cursor: pointer;
}
